@using Microsoft.AspNetCore.Mvc.Localization
@using Hitasp.HitCommerce.Localization
@inject IHtmlLocalizer<HitCommerceResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>