@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.ProductComparison.Localization
@model Hitasp.HitCommerce.ProductComparison.Web.Pages.ProductComparison.IndexModel
@inject IStringLocalizer<ProductComparisonResource> L
@{
}
<h1>ProductComparison</h1>
<p>@L["SamplePageMessage"]</p>
