@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Storage.Localization
@model Hitasp.HitCommerce.Storage.Web.Pages.Storage.IndexModel
@inject IStringLocalizer<StorageResource> L
@{
}
<h1>Storage</h1>
<p>@L["SamplePageMessage"]</p>
