@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Tax.Localization
@model Hitasp.HitCommerce.Tax.Web.Pages.Tax.IndexModel
@inject IStringLocalizer<TaxResource> L
@{
}
<h1>Tax</h1>
<p>@L["SamplePageMessage"]</p>
