@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Core.Localization
@model Hitasp.HitCommerce.Core.Web.Pages.Core.IndexModel
@inject IStringLocalizer<CoreResource> L
@{
}
<h1>Core</h1>
<p>@L["SamplePageMessage"]</p>
