@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.ShoppingCart.Localization
@model Hitasp.HitCommerce.ShoppingCart.Web.Pages.ShoppingCart.IndexModel
@inject IStringLocalizer<ShoppingCartResource> L
@{
}
<h1>ShoppingCart</h1>
<p>@L["SamplePageMessage"]</p>
