@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Pricing.Localization
@model Hitasp.HitCommerce.Pricing.Web.Pages.Pricing.IndexModel
@inject IStringLocalizer<PricingResource> L
@{
}
<h1>Pricing</h1>
<p>@L["SamplePageMessage"]</p>
