@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.ProductRecentlyViewed.Localization
@model Hitasp.HitCommerce.ProductRecentlyViewed.Web.Pages.ProductRecentlyViewed.IndexModel
@inject IStringLocalizer<ProductRecentlyViewedResource> L
@{
}
<h1>ProductRecentlyViewed</h1>
<p>@L["SamplePageMessage"]</p>
