@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Inventory.Localization
@model Hitasp.HitCommerce.Inventory.Web.Pages.Inventory.IndexModel
@inject IStringLocalizer<InventoryResource> L
@{
}
<h1>Inventory</h1>
<p>@L["SamplePageMessage"]</p>
