@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Orders.Localization
@model Hitasp.HitCommerce.Orders.Web.Pages.Orders.IndexModel
@inject IStringLocalizer<OrdersResource> L
@{
}
<h1>Orders</h1>
<p>@L["SamplePageMessage"]</p>
