@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Shipments.Localization
@model Hitasp.HitCommerce.Shipments.Web.Pages.Shipments.IndexModel
@inject IStringLocalizer<ShipmentsResource> L
@{
}
<h1>Shipments</h1>
<p>@L["SamplePageMessage"]</p>
