@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Vendors.Localization
@model Hitasp.HitCommerce.Vendors.Web.Pages.Vendors.IndexModel
@inject IStringLocalizer<VendorsResource> L
@{
}
<h1>Vendors</h1>
<p>@L["SamplePageMessage"]</p>
