@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Catalog.Localization
@model Hitasp.HitCommerce.Catalog.Web.Pages.Catalog.IndexModel
@inject IStringLocalizer<CatalogResource> L
@{
}
<h1>Catalog</h1>
<p>@L["SamplePageMessage"]</p>
