@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Payments.Localization
@model Hitasp.HitCommerce.Payments.Web.Pages.Payments.IndexModel
@inject IStringLocalizer<PaymentsResource> L
@{
}
<h1>Payments</h1>
<p>@L["SamplePageMessage"]</p>
