@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Cms.Localization
@model Hitasp.HitCommerce.Cms.Web.Pages.Cms.IndexModel
@inject IStringLocalizer<CmsResource> L
@{
}
<h1>Cms</h1>
<p>@L["SamplePageMessage"]</p>
