@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Contacts.Localization
@model Hitasp.HitCommerce.Contacts.Web.Pages.Contacts.IndexModel
@inject IStringLocalizer<ContactsResource> L
@{
}
<h1>Contacts</h1>
<p>@L["SamplePageMessage"]</p>
