@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Shipping.Localization
@model Hitasp.HitCommerce.Shipping.Web.Pages.Shipping.IndexModel
@inject IStringLocalizer<ShippingResource> L
@{
}
<h1>Shipping</h1>
<p>@L["SamplePageMessage"]</p>
