@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.ActivityLog.Localization
@model Hitasp.HitCommerce.ActivityLog.Web.Pages.ActivityLog.IndexModel
@inject IStringLocalizer<ActivityLogResource> L
@{
}
<h1>ActivityLog</h1>
<p>@L["SamplePageMessage"]</p>
