@page
@using Microsoft.Extensions.Localization
@using Hitasp.HitCommerce.Search.Localization
@model Hitasp.HitCommerce.Search.Web.Pages.Search.IndexModel
@inject IStringLocalizer<SearchResource> L
@{
}
<h1>Search</h1>
<p>@L["SamplePageMessage"]</p>
